*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #aaa;
    transition: color .8s,border-color .8s;
}
a:hover{
    color: #333;
    border-color: #333;
}
@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"), url("/fonts/SourceSansPro-Regular.ttf");
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro Light"), url("/fonts/SourceSansPro-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro Semibold"), url("/fonts/SourceSansPro-Semibold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url("/fonts/RobotoMono-Regular.ttf");
  }
  @font-face {
    font-family: "Dosis";
    src: local("Dosis Medium"), url("/fonts/Dosis-Medium.ttf");
    font-weight: 500;
  }
  body{    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;} 
  
  